{{ define "head" }}
    <link rel="canonical" href="https://octo-board.herokuapp.com"/>
    <link href="/static/style/home.css" rel="stylesheet" type="text/css">
{{ end }}
{{ define "content" }}
<h1>Welcome to OctoBoard!</h1>
<h2>
    App created to help easily find issues during the <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest</a>.
</h2>
<h3>
    <b>OctoBoard</b> simplifies searching Github issues by <b>labels</b>, <b>organization</b> and <b>language</b>.
</h3>
<p>
    You can provide multiple <b>labels</b>, just separate them with a <i>comma</i>.<br/><br/>
    No <i>quotes</i> are needed.<br/><br/>
    <b>Happy coding!</b>&nbsp;🎉
</p>
{{ end }}