{{define "head"}}
    <link rel="canonical" href="https://octo-board.herokuapp.com/search"/>
    <link href="/static/style/search.css" rel="stylesheet" type="text/css">
{{end}}
{{define "content"}}
<div class="parameters">
    {{if  or .Label .Language .Organization}}
    {{range .Labels}}<p class="labels">Label: {{.}}</p>{{end}}
    {{if .Language}}<p class="language">Language: {{.Language}}</p>{{end}}
    {{if .Organization}}<p class="org">Organization: {{.Organization}}</p>{{end}}
    {{if .Uncommented}}<p class="uncommented">uncommented</p>{{end}}
    {{if .Unassigned}}<p class="unassigned">unassigned</p>{{end}}
    {{else}}
        <p class="noFilters">no active filters</p>
    {{end}}
</div>
<div class="issuesTable">
{{range .Issues}}
    <div class="issue">
        <h3>{{.Repo}}&nbsp;&nbsp;<span>#{{.Number}}</span></h3>
        <h2><a href="{{.HTMLURL}}">{{.Title}}</a></h2>
        <p class="body">{{.Body}}</p>
        <p class="commentsNumber">{{.CommentsNumber}} <img src="/static/img/comments.svg" alt="number of comments"></p>
    </div>
{{else}}
    <p>
        No results :(<br><br>
        Make sure you didn't make any typos.
    </p>
{{end}}
</div>
<div class="pageNav">
    {{if .PrevPage}}
        <a href="/search?label={{.Label}}&language={{.Language}}&org={{.Organization}}&page={{.PrevPage}}{{if .Unassigned}}&unassigned=1{{end}}{{if .Uncommented}}&uncommented=1{{end}}">
            <button class="pageNavButton prev">Previous Page</button>
        </a>
    {{end}}
    {{ if eq (len .Issues) 20}}
        <a href="/search?label={{.Label}}&language={{.Language}}&org={{.Organization}}&page={{.NextPage}}{{if .Unassigned}}&unassigned=1{{end}}{{if .Uncommented}}&uncommented=1{{end}}">
            <button class="pageNavButton next">Next Page</button>
        </a>
    {{end}}
</div>
{{end}}