body {
    background: aliceblue url("/static/img/spidertocat.png") no-repeat right top;
    background-size: 50% auto;
}

header {
    position: static;
}

main {
    margin-top: 0;
}

h3 {
    font-weight: normal;
}

@media only screen and (max-width: 1200px) {
    body {
        background: aliceblue url("/static/img/octocat.png") no-repeat right bottom;
        background-size: 50% auto;
    }

    .pageWrapper {
        background-color: #f0f8ffcc;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background: aliceblue;
    }
}

@media only screen and (max-width: 410px) {
    .pageWrapper {
        height: auto;
        min-height: 0;
    }
}