body {
    background-color: aliceblue;
}

.parameters p {
    font-weight: bolder;
    display: inline-block;
    margin: 0 10px 20px;
    padding: 5px;   
    box-shadow: 2px 2px 2px #666;
}

.noFilters {
    background-color: rgba(160, 74, 85, 0.62);
}

.labels {
    background-color: #5ba091;
}

.language {
    background-color: cadetblue;
}

.org {
    background-color: #588ca0;
}

.uncommented {
    background-color: #7b78a2;
}

.unassigned {
    background-color: #b38db9;
}

.issuesTable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px;
}

.issue {
    background-color: #e1e7fd;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 2px 2px 1px #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.issue h3 span {
    color: rgba(139, 0, 0, 0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.issue h3 {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.issue h2 {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.issue h2 a {
    color: rgba(13, 18, 98, 0.89);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.commentsNumber {
    margin-top: 0;
}

.commentsNumber img {
    position: relative;
    top: 8px;
    height: 24px;
    z-index: 1;
}

.pageNav {
    display: flex;
    justify-content: center;
}

.pageNavButton {
    font-size: 20px;
    width: 40%;
    max-width: 200px;
    min-width: fit-content;
    background-color: #fdfdfd;
    box-shadow: 1px 1px 1px #bbb;
    margin: 20px 10px;
    padding: 8px 0;
    text-align: center;
}

.pageNavButton:hover {
    background-color: #e8e8e8;
    transition: all 0.2s;
}

.pageNavButton a {
    text-decoration: inherit;
    color: inherit;
    display: block;
    padding: 5px;
}

.next {
    margin-left: 5px;
}

@media only screen and (max-width: 850px) {
    .pageNavButton {
        font-size: 14px;
    }
}