<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OctoBoard</title>
    <link href="/static/style/main.css" rel="stylesheet" type="text/css">
{{ block "styles" . }}{{ end }}
</head>
<body>
<h1><a href="/">OctoBoard</a></h1>
<form action="/search" method="GET">
    <input type="text" name="label" title="label" placeholder="label">
    <input type="text" name="language" title="language" placeholder="language">
    <input type="text" name="org" title="organization" placeholder="organization">
    <input type="submit" value="Save">
</form>
{{ template "content" . }}
</body>
</html>