<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="OctoBoard helps find Github issues filtered by labels, language and organization.">
    <meta name="theme-color" content="#DDDDDD">
    <title>OctoBoard - browser for Github issues</title>
    <link rel="canonical" href="https://octo-board.herokuapp.com"/>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/img/favicon/ftkdict-152-115567.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/img/favicon/ftkdict-120-115567.png">
    <link href="/static/style/main.css" rel="stylesheet" type="text/css">
{{ block "styles" . }}{{ end }}
</head>
<body>
<div class="pageWrapper">
    <header>
        <div class="pageTitle"><a href="/">Oct<img src="/static/img/github-logo.svg" alt="o">Board</a></div>
        <div class="form">
            <form action="/search" method="GET">
                <div class="input">
                    <label for="label">Labels:</label>
                    <input type="text" name="label" title="label" placeholder="bug, hacktoberfest">
                </div>
                <div class="input">
                <label for="language">Language:</label>
                <input type="text" name="language" title="language" placeholder="go">
                </div>
                <div class="input">
                    <label for="org">Organization:</label>
                    <input type="text" name="org" title="organization" placeholder="kubernetes">
                </div>
                <div class="input submit">
                    <input type="submit" value="Search">
                </div>
            </form>
        </div>
    </header>
    <main>
        {{ template "content" . }}
    </main>
</div>
<footer>
    <p>view project on <a href="https://github.com/radlinskii/octo-board">Github</a></p>
</footer>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>